* {
  box-sizing: border-box;
}

html {
  background-color: #eee;
}

body {
  color: #333;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #FFCC1A;
  border-radius: 10px;
  background-color: #fff;
}

h1, h2, h3, h4 {
  color: #838080;
}

h1 {
  text-align: center;
  padding: .9em .2em .2em;
  margin: 0;
  font-size: 23px;
}

h2 {
  padding: .3em 0;
  margin: 0;
  font-size: 16px;
}

/*
form {
  position: relative;
}
*/

header {
  display: grid;
  grid-template-areas: '. home start' 'head head head';
  grid-template-columns: 1fr auto auto;
}

header a {
  padding: .3em;
  display: flex;
  align-items: center;
  text-decoration: none;
}

header a .text {
  display: none;
}

header .home {
  grid-area: home;
}
header .clear {
  grid-area: start;
}

header .home i {
  color: green;
}

header .clear i {
  color: red;
}

header h1 {
  grid-area: head;
  background-color: #efefef;
  border-bottom: 1px solid #FFCC1A;
  border-radius: 3px;
}

fieldset {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 1em 0;
}

fieldset h2 {
  margin-top: 2rem;
}

fieldset h2:first-child {
  margin-top: 2rem;
}

input, select {
  width: 100%;
  color: #555;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  font-family: monospace;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 3px rgba(0,128,0,.6);
  border-color: green;
  background-color: green;
  color: #fff;
  outline: 0;
}

.field.dropdown, .field.text {
  width: 45%;
}

.btn-remove { margin-left: 1em; }
.btn-add, .btn-remove { cursor: pointer; height: 2.5em; color: #fff; text-shadow: 1px 1px rgba(0,0,0,.5); border-width: 1px; border-style: solid; border-radius: 4px; box-shadow: 1px 1px 2px rgba(255,255,255,.4) inset, -1px -1px 2px rgba(0,0,0,.3) inset; }
.btn-add > .material-icons, .btn-remove > .material-icons { vertical-align: middle; }
.btn-add { background: #3c6; border-color: #afc #063 #063 #afc; }
.btn-remove { background: #f66; border-color: #faa #633 #633 #faa; }

.OuterComposite {
  margin: 2rem 0;
}

.InnerComposite {
  padding: .5em 0;
  display: none;
}

.InnerComposite.active {
  display: flex;
}

.myvalue {
  display: flex;
  flex: 1;
  align-items: center;
}

.myvalue::before {
  content: '';
  display: block;
  border-style: solid none solid solid;
  border-color: transparent transparent transparent #777;
  border-width: 10px 0 10px 10px;
  margin: 0 10px;
}

.myvalue > .middleColumn {
  flex: 1;
}

footer {
  padding-top: 3em;
}

footer p  {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #777;
}

footer p a {
  border-bottom: 1px solid #FFCC1A;
  text-decoration: none;
  color: #777;
}

/*
@media only screen and (min-width: 700px) {
  div.myvalue:before {
      content: '=> ';
      font-family: monospace;
      color: #777;
      float: left;
      margin-left: -28px;
      margin-top: 0.5em;
  }
  div.mykey {
      float: left;
  }
  div.myvalue {
      float: right;
  }
}
*/
