
.new body {
  margin: 0;
  padding: 0;
  max-width: none;
}
.new header {
  background: radial-gradient(farthest-corner at center bottom,#ffcc1a,#36342a);
  border-bottom: 1px solid #FFCC1A;
  text-shadow: 1px 1px rgba(0,0,0,.5);
}

.new header h1 {
  background-color: transparent;
}

.new header a {
  color: white;
}

.new header a .text {
  display: block;
}

.new header h1 {
  color: #eee;
}

.new header .home i {
  color: lime;
}

.new header .clear i {
  color: red;
}
